form {
    width: 200px;
    margin: 20px auto;
}
input {
    width: 100%;
    padding: 10px;
}
.poke-card {
    position: relative;
    height: fit-content;
    font-family: 'Roboto Mono', monospace;
    max-width: 300px;
    border-radius: 2px;
    color: rgb(241, 16, 16);
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: rgb(234, 243, 247);
    border: 1px solid black;
}
.poke-card::before {
    content: '';
    background-image: url('https://github.com/LaunchX-InnovaccionVirtual/FrontEnd-Mision/raw/main/04%20-%20JS/images/pokedex.jpg');
    background-size: 80% 80%;
    background-repeat: no-repeat;
    border-radius: -4px;
    height: 200%;
    width: 300%;
    position: absolute;
    left: -10px;
    top: -10px;
    z-index: -1;
}

.img-container {
    position: relative;
    width: 180px;
    margin: 10px auto;
}
.poke-stats div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
}
.poke-types div {
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
    border: 1px dashed rgb(34, 32, 32);
}
.poke-img {
    width: 180px;
    border-radius: 50%;
}